.App {
  text-align: center;
}

.loading-spinner-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 5px solid #bdbdbd;
  border-top: 5px solid #ee2055;
  border-radius: 50%;
  animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
